{{> menu}}

<form class="box"  action="/song/{{playlist.id}}/updatesong/{{song.id}}" method="POST">
  <label>Enter Song Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="title", value="{{song.title}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="artist" value="{{song.artist}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="duration" value="{{song.duration}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Song</button>
</form>

